*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lunbo{
  position: relative;
  margin: 0 auto 0;
}
.lunbo>ul>li{
  width: 790px;
  float: left;
  list-style: none;
}
.content span{
  cursor: pointer;
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  margin-left: 8px;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  text-decoration: none;
  color:#fff;
  border-radius: 50%;
}
.a{
  position: absolute;
  left:343px;
  bottom:5px;
}
.add{
  margin-left: 100px;
  margin-top: 50px;
}
.span-id{
  margin-right: 30px;
}
.btns{
  position: absolute;
  width: 40px;
  height: 50vh;
  line-height: 100%;
  background-color: rgba(0,0,0,0.5);
  font-size: 20px;
  top:0;
  border: none;
  color:#fff;
  cursor: pointer;
  border: none;
}
.btn-next{
  right:0;
}
.btn-prev{
  left:0;
}
.content{
  position: relative;
}
.tab{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  position: absolute;
  float: left;
  width:170px;
  height: 340px;
  background-color: rgba(0,0,0,0.3);
  left:0;
  top:0;
}
.tab ul li{
  list-style: none;
  margin-bottom: 20px;
  padding: 0 10px;
  color:#fff;
}
.card{
  display: flex;
  justify-content: center;
  width: 790px;
  height: 340px;
  /*background-color: red;*/
  margin-left: 169px;
  border:1px solid #ff7144;
}
.card div:first-child{
  margin-left: 10px;
}
.card div p a{
  color:#000;
  margin-left: 20px;
  text-decoration: none;
}
.card-right{
  flex-grow: 1;
  margin-left: 15px;
  background-color: #f4f4f4;
  width: 200px;
  height: 340px;
}
.card-right img{
  margin-left: 15px;
  margin-bottom: 15px;
}
